body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-image: url('../Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.logo {
  position: absolute;
  width: 9.5%;
  min-width: 100px;
  left: 3.5%;
  top: 5%;
  /* media-query for top  */
}

.navigation-bar {
  position: absolute;
  width: 87%;
  height: 7%;
  left: 13%;
  top: 7.5%;
}

.nav-text, .sidenav a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
}

.profile {
  position: absolute;
  left: 25%;
}

.challenges {
  position: absolute;
  left: 41.5%;
}

.schedule {
  position: absolute;
  left: 65%;
}

.shop {
  position: absolute;
  left: 85%;
}

.first-row {
  position: absolute;
  left: 5%;
}

.f-about-us {
  bottom: 12%;
}

.f-contact-us {
  bottom: 7%;
}

.f-desend {
  bottom: 2%;
}

.f-follow-us {
  position: absolute;
  width: 130px;
  left: 48%;
  bottom: 10%;
}

.social-media-logos{
  position: absolute;
  bottom: 2%;
}

.f-yt {
  left: 41%;
}

.f-facebook {
  left: 46%;
}

.f-insta {
  left: 51%;
}

.f-discord {
  left: 56%;
}
.f-twitter {
  left: 61%;
}

.footer-left-row{
  position: absolute;
  right: 5%;
}

.f-legal-terms {
  bottom: 9%;
}

.f-privacy-policy {
  bottom: 4%;
}

.footer{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #efefef;
}

a {
  text-decoration: none;
  color: #efefef;
}

.sidenav{
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.5s;
  background-color: #0A0A0A;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
}

.sidenav a:hover, .navigation-bar a:hover, .burger-menu:hover {
color: #949494;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.burger-menu{
  display: none;
  position: absolute;
  right: 5%;
  top: 18px;
  color: rgb(239, 239, 239);
  font-size: 45px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 700px) {
  .challenges {
    left: 40.5%;
  }
}

@media only screen and (max-width: 550px) {
  .logo {
    top: 2.5%;
  }
}

@media only screen and (max-width: 600px) {
  .navigation-bar, .f-follow-us, .social-media-logos {
    display: none;
  }
  .burger-menu{
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .sidenav{
    width: 0;
  }
}

