.experience {
  margin-bottom: 670px;
}

.tasks_button {
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
  border: 3px solid #efefef;
  border-radius: 50%;
  position: absolute;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  z-index: 1;
  right: 5px;
  margin-top: -80px;
}

.closeW {
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
  border: 3px solid #efefef;
  border-radius: 50%;
  position: absolute;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  z-index: 1;
  right: 5px;
  margin-top: -110px;
}

.tasksBar {
  position: absolute;
  width: 604px;
  height: 465.94px;
  left: 117.61px;
  top: 150px;
  flex: 50%;
  color: #efefef;
  border: 3px solid #efefef;
  border-radius: 25px;
  transform: rotate(0.56deg);
}

.tasks{
  border: 2px solid #efefef;
  border-left: none;
  border-right: none;
   background-color: rgba(140, 92, 166, 0.7);
  /* background-color: rgb(11, 12, 14, 0.5); */
  border-radius: 10px;
  margin-top: 0px;
  top: 85px;
  height: 90px;
  position: relative;
  width: 100%;
  margin-top: 25px;
  padding-top: 15px;
  padding-top: 10px;
}

.taskName {
  color: #efefef;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: bold;
    left: 40px;
    position: relative;
}

.starsGiven {
  color: #efefef;
  font-family: Ubuntu;
  font-size: 20px;
  left: 430px;
  position: relative;
  margin-top: 55px;
  top: -75px;
  z-index: 1;
}

.panel {
  padding: 100px 18px;
  background-color: transparent;
  overflow: hidden;
  color: #efefef;
  position: absolute;
  top: -65px;
  font-family: Montserrat;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  z-index: 1;
  margin-top: 5px;
  margin-right: 50px;
}


.weeklyChallenges {
  position: absolute;
  width: 604px;
  height: 450px;
  left: 811px;
  top: 150px;
  flex: 50%;

  border: 3px solid #efefef;
  border-radius: 25px;
}

.weekly {
  border: 2px solid #efefef;
  border-left: none;
  border-right: none;
  background-color: rgba(140, 92, 166, 0.7);
  border-radius: 10px;
  margin-top: 0px;
  top: 85px;
  height: 85px;
  position: relative;
  width: 100%;
  margin-top: 25px;
  padding-top: 15px;
  padding-top: 10px;

}

.WtaskName {
  color: #efefef;
  font-family: Ubuntu;
  font-size: 20px;
  left: 40px;
  position: relative;
}

.WstarsGiven {
  position: relative;
  color: #efefef;
  text-align: right;
  font-size: 20px;
  padding-right: 130px;
  top: -17px;
  font-family: Ubuntu;
  font-size: 20px;
  z-index: 1;
}

.panelW {
  padding: 0 18px;
  background-color: transparent;
  overflow: hidden;
  color: #efefef;
  position: relative;
  top: -80px;
  font-family: Montserrat;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  z-index: 1;
  margin-top: 71px;
}

#Tasks {
  position: absolute;
  width: 66.74px;
  height: 22.35px;
  left: 265px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  top: 25px;
  color: #ffffff;
}

#WeeklyChallengesTitle {
  position: absolute;
  width: 225.77px;
  height: 23.8px;
  left: 215px;
  top: 25px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;

  color: #efefef;
}

@media only screen and (max-width: 760px) {
  .experience {
    margin-bottom: 1275px;
  }

  .tasksBar {
    left: 60px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 580px;
  }

  #Tasks {
    left: 130px;
  }

  .tasks {
    height: 130px;
  }

  .taskName {
    left: 75px;
  }

  .panel {
    top: -30px;
  }

  .starsGiven {
    left: 75px;
    position: relative;
    margin-top: 55px;
    top: -45px;
    z-index: 1;
  }

  .weeklyChallenges {
    left: 60px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 425px;
    top: 765px;
  }

  #WeeklyChallengesTitle {
    left: 65px;
  }
  .weekly{
    height: 135px;
  }
  .WtaskName {
    left: 75px;
  }
  .panelW{
    top: -60px;
  }
  .WstarsGiven{
     padding-right: 240px;
  top: 8px;
  }
 
}

@media only screen and (min-width: 835px) and  (max-width: 1435px) {
  .experience {
    height: 1100px;
    margin-bottom: 60px;
  }
  .weeklyChallenges {
    display: flex;
    flex-direction: column;
    width: 604px;
    height: 450px;
    top: 665px;
    left: 117.61px;
  }

}