body {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.side {
  position: relative;
  width: 159px;
  height: 135px;
  background: rgba(11, 12, 14, 0.47);
  border-radius: 10px;
  margin: auto;
  margin-top: 280px;
  margin-left: 75px;
  z-index: 1;
}

#current {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #efefef;
  text-decoration: none;
}

.others {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #efefef;
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 220px;
  width: 40%;
  height: 40%;
  left: 30%;
  background-color: rgb(32, 32, 32);
  opacity: 0;
  z-index: 1;
  border-radius: 5px;
  transition: opacity 0.2s ease-out;
  padding-left: 50px;
  padding-right: 50px;
}

.cls-btn {
  position: absolute;
  right: 2%;
  top: 12px;
  cursor: pointer;
}

.cls-btn img {
  width: 20px;
}

.search-ico {
  position: absolute;
  left: 25%;
  top: 40px;
}

.search-bar-friends {
  position: absolute;
  left: 38%;
  top: 43px;
}

.search-bar-friends input {
  font-family: Ubuntu;
  border-radius: 5px;
  background-color: #0a0a0a;
  color: #efefef;
  width: 150px;
}

.search-bar-friends input::placeholder {
  color: #c5c5c5;
}

.search-ico img {
  width: 30px;
}

.add-friends-icon {
  position: absolute;
  top: 108px;
  right: 18%;
}

.add-friends-icon img {
  width: 40px;
  cursor: pointer;
}

.page-title {
  position: absolute;
  color: #efefef;
  font-family: Ubuntu;
  top: 105px;
  left: 18%;
  font-weight: 400;
  font-size: 28px;
}

.logo {
  position: absolute;
  width: 9.5%;
  min-width: 100px;
  left: 3.5%;
  top: 40px;
}

.friends {
  display: grid;
  margin: -250px auto 50px auto;
  padding: 0px 50px;
  max-width: 1000px;
  min-width: 800px;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

.friend {
  align-items: center;
  height: 120px;
  border: 3px solid #efefef;
  border-radius: 10px;
}
.navigation-bar {
  position: absolute;
  width: 87%;
  height: 7%;
  left: 13%;
  top: 55px;
}

.nav-text,
.sidenav a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
}

.profile {
  position: absolute;
  left: 25%;
}

.challenges {
  position: absolute;
  left: 41.5%;
}

.schedule {
  position: absolute;
  left: 65%;
}

.shop {
  position: absolute;
  left: 85%;
}

.first-row {
  position: absolute;
  left: 5%;
}

.f-about-us {
  bottom: 12%;
}

.f-contact-us {
  bottom: 7%;
}

.f-desend {
  bottom: 2%;
}

.f-follow-us {
  position: absolute;
  width: 130px;
  left: 48%;
  bottom: 10%;
}

.social-media-logos {
  position: absolute;
  bottom: 2%;
}

.f-yt {
  left: 41%;
}

.f-facebook {
  left: 46%;
}

.f-insta {
  left: 51%;
}

.f-discord {
  left: 56%;
}
.f-twitter {
  left: 61%;
}

.footer-left-row {
  position: absolute;
  right: 5%;
}

.f-legal-terms {
  bottom: 9%;
}

.f-privacy-policy {
  bottom: 4%;
}

.footer {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #efefef;
}

.profile-friends {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("../img/MattStock.jpg");
  background-size: cover;
  top: 20px;
  left: 15px;
}

#imageSesil {
  background-image: url("../img/Mee.jpg");
}

#imageAnge {
  background-image: url("../img/Ange.jpeg");
}

#imageVictor {
  background-image: url("../img/victor.jpeg");
}

#imageYoana {
  background-image: url("../img/me.png");
}

#imageSelenaGomez {
  background-image: url("../img/Selena-Gomez.jpg");
}

#imageChris {
  background-image: url("../img/Chris-Evans-1.jpg");
}

#imageCardiB {
  background-image: url("../img/Cardi-B.jpg");
}

#friendYoana {
  margin-top: 90px;
}

#AddYoana {
  display: none;
}

#addFriend {
  float: right;
  margin-top: -50px;
  margin-right: 20px;
}

.profileName {
  position: absolute;
  color: #efefef;
  margin-top: -49px;
}

.profileLevel {
  position: absolute;
  color: #efefef;
  margin-top: -7px;
}

.profileName,
.profileLevel {
  color: #efefef;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 530;
  margin-left: 140px;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 35%;
  top: 25%;
  width: 450px; /* Full width */
  height: 290px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(32, 32, 32);
}

/* Modal Content */
.modal-content {
  margin: auto;
  width: 90%;
}

.hr {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalLevel {
  font-family: Montserrat;
  font-size: 15px;
  color: #4d69b1;
  margin-left: 120px;
  margin-bottom: 20px;
}

#modalName {
  font-family: Montserrat;
  font-size: 21px;
  color: white;
  margin-left: 120px;
  margin-bottom: 10px;
  margin-top: -40px;
}

.vertical {
  border-left: 2px solid grey;
  height: 160px;
  margin-top: 15px;
  position: fixed;
  left: 13%;
}

#favourite {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
  text-align: center;
  padding-top: 15px;
}

#favList {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #efefef;
  text-align: left;
  padding-left: 100px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #efefef;
}

.sidenav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.5s;
  background-color: #0a0a0a;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
}

.sidenav a:hover,
.navigation-bar a:hover,
.burger-menu:hover {
  color: #949494;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.burger-menu {
  display: none;
  position: absolute;
  right: 5%;
  top: 8px;
  color: rgb(239, 239, 239);
  font-size: 45px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .friends {
    grid-template-columns: 1fr 1fr;
    min-width: 250px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .challenges {
    left: 40.5%;
  }
  .search-ico {
    left: 10px;
  }
  .search-bar-friends {
    left: 50px;
  }
  .side {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    top: 22px;
  }
  .navigation-bar,
  .f-follow-us,
  .social-media-logos {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .side {
    display: none;
  }
  .friends {
    margin-bottom: 475px;
    grid-template-columns: 1fr;
    min-width: 230px;
    top: 405px;
  }
  .page-title {
    top: 90px;
    left: 10%;
  }
  .add-friends-icon {
    top: 90px;
    right: 10%;
  }
  .overlay {
    width: 80%;
    height: 80%;
    top: 100px;
    left: 10%;
  }
}

@media only screen and (min-width: 700px) {
  .sidenav {
    width: 0;
  }
}
