body {
    background-color: #0B0C0E;
    margin: 0;
}

.home {
    margin-bottom: 100px;
}

.logo {
    display: block;
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#moto {
    font-family: Ubuntu;
    font-size: 22px;
    color: #efefef;
    font-weight: 500;
    text-align: center;
}

.LogIn {
    border: 5px solid #8C5CA6;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 44px;
    color: #EFEFEF;
    display: block;
    justify-content: center;
    margin-left: 625px;
    margin-top: 10px;
    width: 110px;
}

.Sign-Up {
    border: 5px solid #4D69B1;
    box-sizing: border-box;
    border-radius: 10px;
    background: #4D69B1;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 44px;
    color: #EFEFEF;
    display: block;
    justify-content: center;
    margin-left: 770px;
    margin-top: -55px;
    width: 110px;
}
a{
    text-decoration: none;
    color: #EFEFEF;
}
#title1 {
    font-family: Ubuntu;
    font-size: 26px;
    color: #efefef;
    font-weight: 500;
    text-align: left;
    margin-top: 120px;
    margin-left: 150px;
    padding-bottom: 15px;
}

#firstLine {
    border: 3.2px solid #4D69B1;
    box-shadow: inset 0px 4px 4px;
    width: 500px;
    margin-left: 0px;
}

#article {
    font-family: Ubuntu;
    font-size: 18px;
    color: #efefef;
    text-align: left;
    margin-left: 50px;
    margin-right: 680px;
    padding: 80px;
}

.vue {
    display: block;
    width: 300px;
    margin-top: -300px;
    margin-left: 780px;
}

.dobly {
    width: 150px;
    margin-top: -170px;
    margin-left: 1105px;
}

#title2 {
    font-family: Ubuntu;
    font-size: 26px;
    color: #efefef;
    font-weight: 500;
    text-align: right;
    margin-top: 120px;
    margin-right: 300px;
    padding-bottom: 10px;
}

#secondLine {
    border: 3.2px solid #4D69B1;
    box-shadow: inset 0px 4px 4px;
    width: 570px;
    margin-left: 946px;
    margin-bottom: 120px;
}

#stars {
    display: block;
    margin-left: 350px;
    margin-top: -95px;
}

#gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -128px;

}

#friends {
    display: block;
    margin-left: auto;
    margin-right: 370px;
    margin-top: -128px;

}

#text-1 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #efefef;
    text-align: left;
    margin-left: 350px;
}

#text-2 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #efefef;
    text-align: center;
}

#text-3 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #efefef;
    text-align: right;
    margin-right: 370px;
}

.SignUp {
    border: 5px solid #4D69B1;
    box-sizing: border-box;
    border-radius: 10px;
    background: #4D69B1;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 44px;
    color: #EFEFEF;
    display: block;
    justify-content: center;
    margin-left: 700px;
    margin-top: 60px;
    width: 110px;
}

@media screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .Sign-Up {
        margin-left: 165px;
        margin-top: 20px;
    }

    .LogIn {
        margin-left: 165px;
        margin-top: 20px;
    }

    #article {
        margin-right: 0px;
    }

    #secondLine {
        margin-left: 0px;
    }

}
@media screen and (min-width: 700px)and (max-width: 1350px) {
    body{
        overflow-x: hidden;
    }
    .LogIn {
        border: 5px solid #8C5CA6;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: transparent;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 44px;
        color: #EFEFEF;
        display: block;
        justify-content: center;
        margin-left: 625px;
        margin-top: 10px;
        width: 110px;
    }
    
    .Sign-Up {
        border: 5px solid #4D69B1;
        box-sizing: border-box;
        border-radius: 10px;
        background: #4D69B1;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 44px;
        color: #EFEFEF;
        display: block;
        justify-content: center;
        margin-left: 770px;
        margin-top: -55px;
        width: 110px;
    }

    #article {
        margin-right: 0px;
    }

    #secondLine {
        margin-left: 0px;
    }

    .SignUp {
        display: none;
    }
    .vue{
        display: none;
    }
    .dobly{
        display: none;
    }

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    /* background-color: rgb(11, 12, 14, 0.85); */
    background-color: rgb(222, 58, 147, 0.25);
    padding: 25px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
    font-family: Ubuntu;
    text-transform: capitalize;
    color: #efefef;
    text-decoration: none;
    font-weight: bold;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #efefef;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #efefef;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #efefef;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .footer-col ul li a {
        text-align: center;
    }

    .social-links {
        margin-left: 120px;
    }
}

