.crnt-page {
  position: absolute;
  left: 25.8%;
  bottom: 105%;
  background: #de3a93;
  border-radius: 15px;
  width: 50px;
  height: 6px;
}

.subnav {
  position: absolute;
  width: 15%;
  height: 16%;
  left: 3.5%;
  top: 40%;
  background: rgba(11, 12, 14, 0.75);
  /* background: red; */
  border-radius: 10px;
}

.subnav a {
  position: absolute;
  font-family: Montserrat;
  font-size: 21px;
  left: 12px;
  color: #efefef;
}

.overview {
  top: 15px;
}

.perks {
  top: 47px;
}

.notification {
  font-weight: bold;
  top: 80px;
}

.last-activity-box {
  position: absolute;
  width: 45%;
  height: 57%;
  left: 30%;
  top: 21%;

  border: 2px solid #efefef;
  box-sizing: border-box;
  border-radius: 10px;
}

.lab-title {
  position: absolute;
  left: 35%;
  top: 8%;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;

  color: #efefef;
}

.dot {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 9%;
  background: #8c5ca6;
  box-shadow: 0px 5px 4px 4px #0b0c0e;
  border-radius: 50%;
}

.dot-1 {
  top: 35%;
}

.dot-2 {
  top: 65%;
}

.not-txt {
  position: absolute;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #efefef;
  left: 20%;
}

.notification-1 {
  top: 35%;
}

.notification-2 {
  top: 65%;
  width: 80%;
}

@media screen and (max-width: 1125px) {
  .lab-title {
    left: 30%;
    font-size: 25px;
  }
  .not-txt {
    font-size: 18px;
  }
  .dot {
    width: 18px;
    height: 18px;
  }
  .dot-1 {
    top: 37%;
  }
  .dot-2 {
    top: 67%;
  }
  .subnav a {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  .lab-title {
    left: 25%;
    font-size: 20px;
  }
  .not-txt {
    font-size: 14px;
  }
  .dot {
    width: 11px;
    height: 11px;
  }
  .dot-1 {
    top: 38%;
  }
  .dot-2 {
    top: 68%;
  }
  .subnav a {
    font-size: 12px;
  }
  .subnav {
    left: 0;
  }
  .last-activity-box {
    left: 35%;
  }
}
