.overviews {
  margin-bottom: 50px;
}
.searchFav {
  width: 25px;
  height: 25px;
}
.btn {
  left: 465px;
  color: #4d69b1;
  position: absolute;
  top: 280px;
  font-size: 36px;
}

.material-icons {
  font-size: 36px;
}
#image_input {
  visibility: hidden;
}
.side {
  position: relative;
  width: 159px;
  height: 135px;
  background: rgba(11, 12, 14, 0.47);
  border-radius: 10px;
  margin: auto;
  margin-top: 280px;
  margin-left: 75px;
  z-index: 1;
}

#current {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #efefef;
  text-decoration: none;
}

.others {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #efefef;
  text-decoration: none;
}

#profilePic {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 340px;
  top: 160px;
  background: url("../img/Momchil.jpg");
  background-size: cover;
  box-shadow: 0px 5px 4px 4px rgba(0, 0, 0, 0.55);
  border-radius: 50%;
}

#user {
  position: absolute;
  width: 233px;
  height: 28px;
  left: 520px;
  top: 160px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #efefef;
}

#level {
  position: absolute;
  width: 97px;
  height: 32px;
  left: 520px;
  top: 210px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
}

#stars {
  position: absolute;
  left: 630px;
  top: 210px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  color: #efefef;
}

.progressing {
  position: absolute;
  width: 216px;
  height: 16px;
  left: 520px;
  top: 288px;
  background: #4d69b1;
  border-radius: 25px;
}

.bar {
  width: 115px;
  height: 6px;
  left: 524px;
  top: 230px;
  background: #efefef;
  border-radius: 25px 0px 0px 25px;
  margin: auto;
  margin-left: 5px;
  margin-top: 5px;
}

#horizontal {
  position: absolute;
  width: 500px;
  height: 2px;
  left: 327px;
  top: 374px;
  background: #efefef;
}

#vertical {
  position: absolute;
  width: 2px;
  height: 587px;
  left: 870px;
  top: 150px;
  background: #efefef;
}

#horizontal-1 {
  display: none;
}

#skills {
  position: absolute;
  width: 197px;
  height: 29px;
  left: 490px;
  top: 398px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
}

#spider-chart {
  position: relative;
  width: 213px;
  height: 213px;
  left: 457px;
  /* top: 470px; */
}

#smart {
  position: absolute;
  width: 167px;
  height: 29px;
  left: 965px;
  top: 160px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
  text-align: center;
}

#smartBracelet {
  position: absolute;
  width: 217px;
  height: 52px;
  left: 945px;
  top: 250px;
  border: 3px solid #efefef;
  box-sizing: border-box;
  background-color: rgb(11, 12, 14, 0.75);
  border-radius: 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #ff0000;
}

.favmovies {
  position: absolute;
  width: 351px;
  height: 184px;
  left: 900px;
  top: 373px;
  border: 3px solid #efefef;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgb(11, 12, 14, 0.5);
  border-radius: 10px;
}

#favourite {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
  text-align: center;
  padding-top: 15px;
}

#favList {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #efefef;
  text-align: left;
  padding-left: 100px;
  padding-top: 20px;
}

.reviews {
  position: relative;
  margin-top: -150px;
  height: 150px;
  width: 350px;
  left: 900px;
  /* top: 582px; */
  border: 3px solid #efefef;
  border-radius: 10px;
  background-color: rgb(11, 12, 14, 0.5);
}

#title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #efefef;
  text-align: center;
  padding-top: 15px;
}

#reviewText {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #efefef;
  text-align: left;
  padding-left: 45px;
  padding-top: 10px;
}

@media only screen and (max-width: 950px) {
    body{
        overflow-x: hidden;
    }
    .overviews{
        height: 840px;
    }
    .bracelet {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 550px;
        left: -500px;
    }

    .status {
        left: 10px;
        top: 380px;
        position: absolute;
    }

    #skills{
        top: 8px;  
    }

    #vertical {
        display: none
    }

    #horizontal {
        width: 450px;
    }

    #horizontal-1 {
        display: block;
        position: absolute;
        width: 450px;
        height: 2px;
        left: 327px;
        top: 700px;
        background: #efefef;
    }

    .favmovies {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 885px;
        left: 375px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1280px;
        left: 375px;
    }
}

@media only screen and (max-width: 790px) {
    body{
        overflow-x: hidden;
    }
    .overviews{
        height: 1300px;
    }
    .side {
        display: none;
    }
    #spider-chart {
        position: relative;
        width: 213px;
        height: 213px;
        left: 457px;
        top: 470px;
    }

    .profileInfo {
        position: absolute;
        top: 0px;
        left: -210px;
    }

    .status {
        left: -230px;
        top: 380px;
        position: absolute;
    }

    #skills{
        top: 8px;  
        font-size: 20px;
    }

    #stars {
        position: relative;
        top: 210px;
    }

    .bracelet {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 550px;
        left: -730px;
    }

    #vertical {
        display: none
    }

    #horizontal {
        width: 450px;
    }

    #horizontal-1 {
        display: block;
        position: absolute;
        width: 350px;
        height: 2px;
        left: 150px;
        top: 700px;
        background: #efefef;
    }

    .favmovies {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 885px;
        left: 150px;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1280px;
        left: 150px;
    }
}

@media only screen and (max-width: 550px) {
    body{
        overflow-x: hidden;
    }
    .overviews{
        /* position: relative; */
        margin-bottom: 100px;
        height:1200px;
        top: -40px;
    }
    .side {
        display: none;
    }

    .profileInfo {
        position: absolute;
        top: 0px;
        left: -310px;
    }

    .status {
        left: -330px;
        top: 380px;
        position: absolute;
    }

    #skills{
        top: 8px;  
        font-size: 20px;
    }

    #stars {
        position: relative;
        top: 185px;
    }

    .bracelet {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 550px;
        left: -835px;
    }
    #spider-chart {
        position: relative;
        width: 213px;
        height: 213px;
        left: 457px;
        top: 470px;
    }
    
    #vertical {
        display: none
    }

    #horizontal {
        width: 450px;
    }

    #horizontal-1 {
        display: block;
        position: absolute;
        width: 350px;
        height: 2px;
        left: 70px;
        top: 700px;
        background: #efefef;
    }


    .favmovies {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 885px;
        left: 50px;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1280px;
        left: 50px;
        bottom: 200px;
    }
}  
