#locations {
  margin-left: 110px;
  margin-top: 45px;
}

.normal,
.normal1,
.normal2,
.normal3 {
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  color: #efefef;
  min-width: 85px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin-left: 90px;
  margin-top: -10px;
}

#ModalNormal,
#ModalNormal1,
#ModalNormal2,
#ModalNormal3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 140px;
  left: 50px;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content-normal,
.modal-content-normal1,
.modal-content-normal2,
.modal-content-normal3 {
  position: relative;
  margin: auto;
  padding: 0;
  width: 35%;
  height: 90%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 10px;
  color: #4D69B1;
  text-align: center;
  background: rgba(240, 240, 240, 0.93);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border-radius: 10px;
}

.purchase {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #0B0C0E;
  text-align: left;
  margin-left: 35px;
}

.images-purchase {
  margin: auto;
  margin-left: -285px;
  margin-top: 15px;
}

.desc-purchase {
  color: #0B0C0E;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;

  margin-left: 140px;
  padding-left: 50px;
  margin-top: -140px;
}

.price-purchase {
  position: absolute;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  color: #0B0C0E;
  margin-left: 295px;
  margin-top: 15px;
}

#big {
  top: 235px;
  left: 200px;
  position: absolute;
  width: 60%;
  height: 0px;
  border: 1px solid #0B0C0E;
}

#small {
  top: 345px;
  left: 285px;
  position: absolute;
  width: 205px;
  height: 0px;
  border: 1px solid #0B0C0E;
}

.cb {
  position: absolute;
  top: 245px;
  left: 45px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  color: #0B0C0E;
}

.bal {
  position: absolute;
  top: 245px;
  left: 295px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  color: #0B0C0E;
}

.money {
  position: absolute;
  top: 285px;
  left: 305px;
  font-family: Ubuntu;
  font-style: normal;
  color: #0B0C0E;
}

.left {
  position: absolute;
  top: 350px;
  left: 305px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  color: #0B0C0E;
}

.nb {
  position: absolute;
  top: 350px;
  left: 45px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  color: #0B0C0E;
}

.confirm {
  position: absolute;
  width: 190px;
  height: 42px;
  top: 440px;
  right: 75px;
  background: #8C5CA6;
  border-radius: 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #EFEFEF;
}

.locking {
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  color: #efefef;
  min-width: 85px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin-left: 80px;
  margin-top: 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 385px;
  left: 50px;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 20%;
  height: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 10px;
  text-align: center;
  background: rgba(240, 240, 240, 0.93);
  color: #ff0000;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 41px;
  border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.closeN,
.closeN1,
.closeN2,
.closeN3 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus,
.closeN:hover,
.closeN1:hover,
.closeN2:hover,
.closeN3:hover,
.closeN:focus,
.closeN1:focus,
.closeN2:focus,
.closeN3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.balance {
  position: relative;
  width: 220px;
  height: 53px;
  left: 125px;
  top: 140px;
  background: #4d69b1;
  box-shadow: inset 2px 8px 10px rgba(239, 239, 239, 0.25);
  border-radius: 10px;
}

.balanceText {
  color: #efefef;
  padding: 18px;
  font-size: 20px;
  font-family: 'Ubuntu';
}

#stars {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #efefef;
  margin: auto;
  margin-left: 15px;
  padding-top: 18px;
}

.sorting {
  position: absolute;
  width: 186px;
  height: 47px;
  top: 150px;
  right: 150px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.sorting-text {
  background-color: transparent;
  color: #efefef;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  border: none;
  padding: 10px;
  padding-left: 25px;
}

.dropdown-content-sort {

  position: absolute;
  background-color: rgba(11, 12, 14, 0.8);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #efefef;
  text-align: left;
  width: 185px;
  padding: 10px;
}

.dropdown-content-sort a {
  color: #efefef;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-sort a:hover {
  background-color: #efefef;
}

.sorting:hover .dropdown-content-sort {
  display: block;
}

.sorting:hover .sorting-text {
  background-color: transparent;
  color: #4d69b1;
}

.arrows {
  position: absolute;
  margin-left: 5px;
}

header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
}

main {
  display: grid;
  margin-top: 170px;
  left: 180px;
  right: 100px;
  position: relative;
  width: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin-bottom: 50px;
}

.items {
  position: relative;
  width: 260px;
  height: 300px;
  border: 3px solid #efefef;
  font-family: Ubuntu;
  font-style: normal;
  border-radius: 10px;
  background-color: rgb(11, 12, 14, 0.75);
}

.itemName {
  color: #EFEFEF;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding-left: 40px;
  margin-top: 20px;
}

.itemNameL {
  color: #EFEFEF;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding-left: 35px;
  margin-top: 20px;

}

.images {
  margin: auto;
  margin-left: 67px;
  /* margin-top: 15px; */
}

.price {
  margin: auto;
  margin-left: 100px;
  width: 200px;
  height: 37px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #efefef;
}

.level {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4d69b1;
  margin: auto;
  margin-top: 150px;
  margin-left: 25px;
}

.imagesLock {
  opacity: 0.3;
  position: absolute;
  margin: auto;
  margin-left: 50px;
  margin-top: 25px;
}

.priceLock {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ff0000;
  margin: auto;
  margin-top: -23px;
  margin-left: 150px;
}

.lock {
  position: absolute;
  margin: auto;
  margin-left: 65px;
  margin-top: 18px;
}

/* @media only screen and (min-width: 900px) and  (max-width: 1025px)  { 
  main {
    grid-template-columns: 1fr 1fr;
  }

  .modal-content-normal {
    left: -180px;
    height: 660px;
  }

  .purchase {
    margin-left: 70px;
  }

  .images-purchase {
    position: absolute;
    margin-left: -60px;
    margin-top: -20px;
  }

  .desc-purchase {
    position: absolute;
    top: 360px;
    left: -145px;
    font-size: 18px;
  }

  .price-purchase {
    margin-top: 155px;
    margin-left: 145px;
  }

  #locations {
    margin-left: 10px;
    margin-top: 185px;
  }

  #big {
    top: 309px;
    left: 75px;
  }

  .cb {
    left: 45px;
    top: 310px;
    font-size: 20px;
    font-weight: 500;
  }

  .bal {
    top: 310px;
    left: 255px;
  }

  .money {
    top: 350px;
    left: 268px;
  }

  .nb {
    top: 400px;
    font-size: 20px;
    font-weight: 500;
  }

  .left {
    top: 400px;
    left: 270px
  }

  #small {
    top: 400px;
    left: 220px;
    width: 135px;
  }

  .confirm {
    top: 470px;
    right: 90px;
  }
}  */



@media only screen and (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }

  main {
    grid-template-columns: 1fr 1fr;
    left: 150px;
    right: 150px;
  }

  .modal-content {
    width: 270px;
    padding: 20px;
    height: 130px;
  }

  .images-purchase {
    margin: auto;
    margin-left: -135px;
  }

  .price-purchase {
    margin-left: 225px;
  }

  #locations {
    margin-left: 25px;
    margin-top: 60px;
  }

  .cb {
    left: 30px;
  }

  #big {
    left: 140px;
  }

  .bal {
    left: 210px;
  }

  .money {
    left: 222px;
  }

  .nb {
    left: 30px;
  }

  #small {
    left: 145px;
  }

  .left {
    left: 250px;
  }

  .confirm {
    top: 410px;
  }
}


@media only screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }

  main {
    grid-template-columns: 1fr 1fr;
    top: 105px;
    left: 150px;
    right: 150px;
  }

  .modal-content-normal,
  .modal-content-normal1,
  .modal-content-normal2,
  .modal-content-normal3 {
    width: 475px;
    height: 500px;
    /* margin-left: 0px */
  }

  .images-purchase {
    margin-left: -260px;
  }

  .images-purchase {
    margin: auto;
    margin-left: -135px;
  }

  .price-purchase {
    margin-left: 225px;
  }

  #locations {
    margin-left: 25px;
    margin-top: 60px;
  }

  .cb {
    left: 30px;
  }

  #big {
    left: 140px;
  }

  .bal {
    left: 210px;
  }

  .money {
    left: 222px;
  }

  .nb {
    left: 30px;
  }

  #small {
    left: 145px;
  }

  .left {
    left: 250px;
  }

  .confirm {
    top: 410px;
  }

  .sorting {
    top: 200px;
  }

  .modal-content {
    width: 300px;
    padding: 6px;
  }
}

@media only screen and (max-width: 650px) {
  main {
    grid-template-columns: 1fr;
    top: 105px;
    left: 100px;
    right: 150px;
    margin-bottom: 140px;
  }

  .balance {
    margin-right: 25px;
  }

  .purchase {
    margin-left: 95px;
  }

  .sorting {
    top: 230px;
  }

  .modal-content-normal,
  .modal-content-normal1,
  .modal-content-normal2,
  .modal-content-normal3 {
    width: 325px;
    height: 525px;
    margin-left: 0px
  }

  .modal-content {
    width: 285px;
    height: 135px;
    left: -60px;
  }

  .images-purchase {
    width: 140px;
    height: 130px;
    margin-left: -132px;
  }

  .desc-purchase {
    color: #0B0C0E;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-left: 124px;
    padding-left: 50px;
    margin-top: -120px;
  }

  .confirm {
    top: 450px;
  }

  #locations {
    margin-top: 40px;
    margin-left: 55px;
  }

  .cb {
    top: 275px;
    left: 10px;
  }

  .price-purchase {
    margin-left: 200px;
  }

  .nb {
    top: 400px;
    left: 5px;
  }

  .bal {
    top: 275px;
    left: 200px;
  }

  #big {
    top: 270px;
    left: 170px;
    width: 46%;
  }

  .money {
    top: 325px;
    left: 212px;
  }

  .left {
    top: 400px;
    left: 220px;
  }

  #small {
    top: 375px;
    left: 160px;
    width: 160px;
    height: 0px;
  }
}