body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  font-family: Ubuntu;
}

main {
  display: flex;
  justify-content: center;
}

.ReviewsContainer {
  margin-top: 150px;
  margin-bottom: 50px;
  display: grid;
  max-width: 1050px;
  grid-template-columns: 325px 1fr;
  gap: 30px;
}

/* CSS OF THE COMMENTS RECTANGLE */

.CommentsRectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;

  width: 325px;
  max-height: 550px;

  border: 2px solid #efefef;
  box-sizing: border-box;
  border-radius: 10px;
}

#title {
  height: 25px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  color: white;
  margin-top: 45px;
  margin-left: 37px;
}

#commentform {
  /* width: 325px;
  height: 450px; */
  padding-left: 50px;
  padding-right: 50px;

  align-items: center;
  justify-content: center;
}

/* CSS OF THE STAR RATING */

/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
  /* adds the flexbox styling, making the stars line up in a row */
  display: flex;
  /* makes sure the horizontally arranged stars are vertically aligned */
  align-items: center;
  /* width: 160px; */
  /* everse the order of the stars so that any solid stars show up before the checked star */
  flex-direction: row-reverse;
  /* distribute our stars evenly across the width of their container */
  justify-content: space-between;
  /* margin: 40px auto; */
  position: relative;
  margin-top: 20px;
}

/* hide the inputs bc they are harder to style */
.star-rating input {
  display: none;
}
/* set properties of all labels */
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: #4d69b1;
}
/* give label a hover state */
.star-rating label:hover {
  color: #8c5ca6;
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform: scale(1.1);
}

/* set shape of unselected label */
.star-rating label::before {
  /* this number gives the shape of a star */
  content: "\2606";
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
/* the tilda (~) acts on sibling elements */
.star-rating input:checked ~ label:before {
  content: "\2605";
}

/* so that the stars show up nicely in FF as well*/
@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}

textarea {
  background: transparent;
  color: white;

  margin-top: 90px;
}

button {
  width: 158px;
  height: 30px;

  border: 3px solid #4d69b1;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #4d69b1;
  color: white;

  margin-top: 20px;
  margin-left: 38px;
}

button:hover {
  border: 3px solid #8c5ca6;
  background-color: #8c5ca6;
}

/* CSS OF THE REVIEWS RECTANGLES */

.scroll {
  border: 2px white;
  border-style: solid none;
  max-height: 500px;

  padding-top: 20px;
  padding-bottom: 20px;

  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.container-reviews {
  width: 150px;
}

.review {
  border: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(140, 92, 166, 0.7);
  /* background: linear-gradient(135deg, #8c5ca6 50%, #de3a93); */
  background-color: 30%;
  background-color: o;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0, 10%;
}

.review > h3 {
  font-family: Ubuntu;
  /* font-weight: 200px; */
  font-size: 20px;
  line-height: 30px;

  margin-left: 20px;
  color: white;
}
.review > h4 {
  font-family: Ubuntu;
  font-size: 15px;

  margin-left: 20px;
  color: white;
}

.review {
  font-family: Ubuntu;
  font-style: Ubuntu;
  font-weight: 300px;
  font-size: 20px;

  line-height: 28px;
  color: #efefef;
}

.review > p {
  margin-left: 20px;
}

@media (max-width: 700px) {
  .CommentsRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;

    width: 325px;
    height: 450px;

    border: 2px solid #efefef;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  #commentform {
    width: 325px;
    height: 450px;
    padding-left: 50px;
    padding-right: 50px;

    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .ReviewsContainer {
    display: table-column;
    justify-content: center;
    align-items: center;
  }
}

/* NAV BAR */
